<footer id='footer'>
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Search our knowledge library</h4>
            <form>
              <input type="email" name="email"><input type="submit" value="Search" disabled="disabled">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class='footer-top' id='template-i4ku3'>
      <div class='container' id='template-i485h'>
        <div class='row' id='template-iy2j44'>
          <div class='col-lg-3 col-md-6 footer-links' id='template-idjn9z'>
            <h4 id='template-iubu6r'>About Us</h4>
            <ul id='template-ivoj0j'>
              <li id='template-iopvs7'>
                <i class='bx bx-chevron-right' id='template-i0smnf'></i>
  
                <a href='#' id='template-i1ll06'>Contact HP</a>
              </li>
              <li id='template-irq7wv'>
                <i class='bx bx-chevron-right' id='template-izo6az'></i>
  
                <a href='#' id='template-iitsyw'>Careers</a>
              </li>
              <li id='template-ig4fbj'>
                <i class='bx bx-chevron-right' id='template-i3lf8z'></i>
  
                <a href='#' id='template-iowm27'>Investor Relations</a>
              </li>
              <li id='template-i3k2wk'>
                <i class='bx bx-chevron-right' id='template-idfzwk'></i>
  
                <a href='#' id='template-ivsxgl'>Sustainable Impact</a>
              </li>
              <li id='template-ixuatr'>
                <i class='bx bx-chevron-right' id='template-iqzqxi'></i>
  
                <a href='#' id='template-iej7ec'>Press Center</a>
              </li>
              <li id='template-ixxejo'>
                <i class='bx bx-chevron-right' id='template-i40xkr'></i>
  
                <a href='#' id='template-ib28ef'>The Garage</a>
              </li>
            </ul>
          </div>
          <div class='col-lg-3 col-md-6 footer-links' id='template-iz5hsp'>
            <h4 id='template-inwqnl'>Ways to buy</h4>
            <ul id='template-izikvk'>
              <li id='template-inkm7f'>
                <i class='bx bx-chevron-right' id='template-idpx0z'></i>
  
                <a href='#' id='template-id9tg2'>Shop online</a>
              </li>
              <li id='template-ihanal'>
                <i class='bx bx-chevron-right' id='template-ikpt26'></i>
  
                <a href='#' id='template-iinf79'>Call an HP rep</a>
              </li>
              <li id='template-imb6hg'>
                <i class='bx bx-chevron-right' id='template-ite3a6'></i>
  
                <a href='#' id='template-ihlt02'>Find a reseller</a>
              </li>
              <li id='template-i3sx65'>
                <i class='bx bx-chevron-right' id='template-iq5bnk'></i>
  
                <a href='#' id='template-i4bhay'>Enterprise store</a>
              </li>
              <li id='template-ixj8hg'>
                <i class='bx bx-chevron-right' id='template-isknft'></i>
  
                <a href='#' id='template-ibw9uv'>Public sector purchasing</a>
              </li>
            </ul>
          </div>
          <div class='col-lg-3 col-md-6 footer-links' id='template-ijlyff'>
            <h4 id='template-iyuebr'>Support</h4>
            <ul id='template-i1nkpo'>
              <li id='template-iftwsl'>
                <i class='bx bx-chevron-right' id='template-ibqi3t'></i>
  
                <a href='#' id='template-isr6rk'>Download drivers</a>
              </li>
              <li id='template-i32fls'>
                <i class='bx bx-chevron-right' id='template-i83s1i'></i>
  
                <a href='#' id='template-i0i7lk'>Support & troubleshooting</a>
              </li>
              <li id='template-iz197u'>
                <i class='bx bx-chevron-right' id='template-ij7f3h'></i>
  
                <a href='#' id='template-iw9o3b'>Community</a>
              </li>
              <li id='template-i37sdz'>
                <i class='bx bx-chevron-right' id='template-i6hy46'></i>
  
                <a href='#' id='template-i1rglj'>Register your product</a>
              </li>
              <li id='template-iwu2i1'>
                <i class='bx bx-chevron-right' id='template-icexja'></i>
  
                <a href='#' id='template-ifzap6'>Authorized service providers</a>
              </li>
              <li id='template-icuu5x'>
                <i class='bx bx-chevron-right' id='template-ibarmw'></i>
  
                <a href='#' id='template-izfenf'>Check repair status</a>
              </li>
              <li id='template-ipvbov'>
                <i class='bx bx-chevron-right' id='template-ij94dd'></i>
  
                <a href='#' id='template-icia7z'>Training & certification</a>
              </li>
            </ul>
          </div>
          <div class='col-lg-3 col-md-6 footer-links' id='template-i0idqj'>
            <h4 id='template-ivqmt2'>Training & certification</h4>
            <ul id='template-i5he9m'>
              <li id='template-ipj2gu'>
                <i class='bx bx-chevron-right' id='template-it2m4g'></i>
  
                <a href='#' id='template-i6rvl1'>HP Partner First program</a>
              </li>
              <li id='template-ikt9s9'>
                <i class='bx bx-chevron-right' id='template-igbn79'></i>
  
                <a href='#' id='template-ifyy8i'>HP Partner Portal</a>
              </li>
              <li id='template-ic2q4y'>
                <i class='bx bx-chevron-right' id='template-i65o96'></i>
  
                <a href='#' id='template-in97q1'>Developers</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>