<!-- <section class='d-flex banner' id='hero'>
    <img class='img-fluid animated' src='https://www8.hp.com/content/dam/sites/worldwide/homepage/images/banners/learn-student-desktop.jpg' alt='' id='template-i5hzz'>
</section> -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row bannermar">
            <div class="col-lg-8 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                <h1>Welcome to HP customer support</h1>
                <h2>how can we help ?</h2>
                <p class="bannerpar">Try asking our Virtual Agent</p>
                <div class="d-lg-flex">
                    <a href="#about" class="btn-get-started scrollto">Chat Now</a>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>
<section id="services" class="services services-shop section-bg">
    <div class="container">
        <div class="section-title titlepad">
            <h3>What can we help you find?</h3>
        </div>
        <div>
            <p class="parapad">Find the Printer or PC that's right for you.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 align-items-stretch card-pad">
                <img src="assets/img/img1.jpg" class="img-fluid" alt="">
                <h4 class="software-heading">Home</h4>
                <div class="spandiv">
                    <span class="spanclass">Learn</span>
                    <span class="spanclass1">Shop</span>
                </div>

            </div>
            <div class="col-xl-4 col-md-4 align-items-stretch card-pad">
                <img src="assets/img/img2.jpg" class="img-fluid" alt="">
                <h4 class="software-heading">Micro Business</h4>
                <div class="spandiv">
                    <span class="spanclass">Learn</span>
                    <span class="spanclass1">Shop</span>
                </div>

            </div>
            <div class="col-xl-4 col-md-4 align-items-stretch card-pad">
                <img src="assets/img/img3.jpg" class="img-fluid" alt="">
                <h4 class="software-heading">Small Business</h4>
                <div class="spandiv">
                    <span class="spanclass">Learn</span>
                    <span class="spanclass1">Shop</span>
                </div>

            </div>


        </div>
    </div>
    <div class="container">
        <div class="row row-align">

            <div class="col-xl-4 col-md-4 align-items-stretch card-pad">
                <img src="assets/img/img4.jpg" class="img-fluid" alt="">
                <h4 class="software-heading">LaserJet Printers</h4>
                <div class="spandiv">
                    <span class="spanclass">Learn</span>
                    <span class="spanclass1">Shop</span>
                </div>

            </div>
            <div class="col-xl-4 col-md-4 align-items-stretch card-pad">
                <img src="assets/img/img5.jpg" class="img-fluid" alt="">
                <h4 class="software-heading">Multifunction Printers and Copiers</h4>
                <div class="spandiv">
                    <span class="spanclass">Learn</span>
                    <span class="spanclass1">Shop</span>
                </div>

            </div>
            <div class="col-xl-4 col-md-4 align-items-stretch card-pad">
                <img src="assets/img/img6.jpg" class="img-fluid" alt="">
                <h4 class="software-heading">Graphic Solutions</h4>
                <div class="spandiv">
                    <span class="spanclass">Learn</span>
                    <span class="spanclass1">Shop</span>
                </div>

            </div>

        </div>
    </div>
</section>


<section id="services" class="services section-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 d-flex align-items-stretch">
                <div class="icon-box">
                    <img src="assets/img/pen-drive.png" class="img-fluid" alt="">
                    <h4><a href="">software and drivers</a></h4>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="assets/img/printer.png" class="img-fluid" alt="">
                    <h4><a href="">printer support</a></h4>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-xl-0">
                <div class="icon-box">
                    <img src="assets/img/laptop.png" class="img-fluid" alt="">
                    <h4><a href="">computer support</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>More support resources</h2>
        </div>
        <div class="row content">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch about-col about-pad hideabout">
                <div class="about-box">
                    <i class="icofont-badge"></i>
                    <p>check warranty status</p>
                </div>
                <div class="about-box">
                    <i class="icofont-computer"></i>
                    <p>use diagnostic tools to find and fix issues</p>
                </div>
                <div class="about-box">
                    <i class="icofont-support"></i>
                    <p>contact an HP agent for support</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch about-pad hideabout">
                <div class="img-box">
                    <img src="assets/img/design.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 about-secpad">
                <div class="col-xl-6 col-md-12 d-flex align-items-stretch about-col about-pad">
                    <div class="about-secbox">
                        <i class="icofont-brand-windows"></i>
                        <p>Fix Windows 10 Update Issues</p>
                    </div>
                    <div class="about-secbox">
                        <i class="icofont-paper"></i>
                        <p>Register your product</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 d-flex align-items-stretch about-col about-pad">
                    <div class="about-secbox">
                        <i class="icofont-users-social"></i>
                        <p>Ask the community</p>
                    </div>
                    <div class="about-secbox">
                        <i class="icofont-video"></i>
                        <p>Watch a video</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>